<% content_for :contact do %>
class="active"
<% end %>
<div class="row">
  <h2>联系我们</h2>
  <p>
<a href="http://cbcl.info/">CBCL.info</a> <br />
给我发送电子邮件，与我联系，地址:<a href="mailto:my@cbcl.info">my@CBCL.info</a>
  </p>
</div>
