<div class="row">
  <div class="span7">
    <p class="muted lead">
      <strong>
      我们不是一个骑行俱乐部，<br /><br />
      我们为俱乐部提供召集活动工具，<br /><br />
      我们为俱乐部骑友提供一个交流的平台，<br /><br />
      我们是为骑友和俱乐部提供免费网络服务供应商
      </strong>
    </p>
  </div>
  <div class="span5">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputEmail">电子邮件</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="Email" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputNickname">昵称</label>
        <div class="controls">
          <input type="text" id="inputNickname" placeholder="昵称" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">输入密码</label>
        <div class="controls">
          <input type="password" id="inputPassword" placeholder="密码" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputComfirmPassword">再次确认密码</label>
        <div class="controls">
          <input type="password" id="inputComfirmPassword" placeholder="再次确认密码" />
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" >&nbsp;</label>
        <div class="controls">
          <button type="submit" class="btn btn-large btn-success">立即加入我们</button>
        </div>
      </div>

    </form>
  </div>
</div>
<hr />
      <div class="row">
        <div class="span4">
          <h2>最受欢迎俱乐部</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        
        <div class="span4">
          <h2>最活跃俱乐部</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
       
        <div class="span4">
          <h2>最新活动</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>